/* @group tipografia */

/*@font-face{ font-family: ResagokrRegular; font-style: normal; font-weight: normal; src: url(../fonts/Resagokr-webfont.eot), url(../fonts/Resagokr-webfont.eot?iefix) format("eot"), url(../fonts/Resagokr-webfont.woff) format("woff"), url(../fonts/Resagokr-webfont.ttf) format("truetype"), url(../fonts/Resagokr-webfont.svg) format("svg"); }*/



/* @end */

/* @group reglas generales */
* {
 margin: 0;
 padding: 0;
}

body{
	color: #5e5e5e;
	font: 0.9em Lucida, Verdana, Trebuchet, sans-serif;
}

.clearfix{
	clear: both;
}
h1{
	color: #b80d24;
	font: 1.5em Times, "Times New Roman", Georgia;
}
h2{
	color: #565957;
	font: 1.5em Times, "Times New Roman", Georgia;

}
a:link, a:visited{
	color: #b80d24;
	text-decoration: none;
}
a:hover{
	color: #565957;
	text-decoration: none;
}

/* @end */

/* @group posiciones */
#ventana{
	height: 950px;
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}

#unidad{
	height: 950px;
	width: 10800px;
	position:relative;
}

.global{
	width: 1200px;
	height: 950px;
	float: left;
}

.logotipo {
	width: 210px;
	height: 250px;
	float: left;
}
.video{
	width: 530px;
	height: 250px;
	float: left;
}
.video_peq{
	width: 200px;
	height: 230px;
	margin-top: 5px;
	margin-right: 10px;
	float: left;
}
.titulo{
	width: 460px;
	height: 250px;
	float: right;
}
.menu_izdo{
	width: 250px;
	float: left;
	margin-bottom: 20px;
}

.menu_izdo .boton{
	width: 210px;
	height: 50px;
}
.boton img, .boton_segundo img{
	float: left;
}
.menu_izdo p, .menu_izdo a{
	color: #3a79fc;
	padding-top: 10px;
}
.content{
	width: 950px;
	height: 640px;
	float: left;
	margin-top: 20px;
}
.content .boton, .content .boton_segundo{
	color: #000;
	clear: both;
}
.boton_segundo{
	margin-left: 20px;
}
.content .boton a, .content .boton p{
	height: 30px;
	padding-top: 15px;

}
.content .boton_segundo a, .content .boton_segundo p{
	height: 20px;
	padding-top: 5px;
	padding-left: 15px;
	color: #000;
	text-decoration: underline;
}
.content .boton_segundo a:hover{
	color: #b80d24;
}

/* @end */

/* @group reglas especificas */
.content_01{
	width: 630px;
}


/* @end */

/* @group popup */

#fancybox-content p{
	width: 600px;
	color: #28a6c7;
}
#fancybox-content h1{
	color: #dbdbdb;
	margin-bottom: 10px;
}
#fancybox-content p{
	color: #e8e8e8;
}
/* @end */

/* @group tooltips */
.tipcontent {
	display: none;
}
#pista02{
	width: 200px;
	text-align: left;
	padding: 5px;
	overflow: scroll;
	height: 200px;
}
#pista05{
	width: 400px;
	text-align: left;
}
#pista05 img{
	float: left;
}
#servicios{
	width: 200px;
	text-align: left;
}
#tx_video, #tx_video2{
	width: 240px;
	overflow: scroll;
	height: 300px;
}
#ayuda, #ayuda2, #ayuda3{
	width: 100px;
}
/* @end */

#intro02{
	width: 600px;
}
.popup_generico{
	width: 600px;
}

/* @group pie */
.pie{
	position: absolute;
	bottom: 0;
	height: 60px;
	background: url(../img/solapa_inf_1px.png) repeat-x 0 0px;
}

.pie .despliegue{
	position: absolute;
	right: -35px;
	bottom: 5px;
}

.pie .inicio,
.pie .ruta,
.pie .botones,
.pie .despliegue{	
	display: inline;
}

.pie .botones{
	font-size: 0.8em;
}

.pie .botones img{
	margin-top: -3px;
}

.pie .botones a{
	color: #fff;
	font-size: 1.2em;
}

.pie img{
	vertical-align: middle;
	padding-bottom: 6px;
}

.pie div.ruta a,
.pie span.ruta{
	font-size: 0.8em;
	color: #fff;
}

/* @end */

